{%   extends 'base.html.twig' %}

{% block title  %}
	Flexi Mobility Test
{% endblock %}

{% block body %}
	<div class="row d-flex justify-content-center align-items-center">
		<div class="col-12 col-sm-4 mt-5">

			<form id="fibonacci-form" style="padding:25px; box-shadow:0 0 15px 4px lightgrey;">
				<p>
					<img src="https://flix.careers/static/logo.svg" class="img-fluid"/>

				</p>
                <p class="status">

                </p>
            
				<small>
					Please type a number to get fibonacci
				</small>
				<div class="form-group">
					<input type="number" class="form-control" id="numberInput" aria-describedby="numberHelp" required placeholder="Enter number">
				</div>

				<button type="button" class="btn btn-primary submitbutton btn-block">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}

